<div class="col-md-4 col-md-offset-4">
  <h2>新建评论</h2>
  <hr>

  <%= simple_form_for [@team, @project, @todo, @comment] do |f| %>
    <div class="form-group">
      <%= f.input :content, label: "评论内容", input_html: { class: "form-control" } %>
    </div>
    <%= f.submit "新建评论", class: "btn btn-primary pull-right", data: { disable_with: "创建中..." } %>
  <% end %>

</div>
